.pad{
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }
    .restTitle{
        display:flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        color: cadetblue;
    }

    .imgset{
        width:150px!important;height:100px!important;

    }