.pad{
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }
    .restTitle{
        display:flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        color: cadetblue;
    }

    .imgset{
        width:150px!important;height:100px!important;

    #foodacular{
        font-size: 7em;
        color: rgb(136, 131, 131);
        line-height: 1.2;
        margin: 0px 0px 0px;
        padding-bottom: 0px;
        -moz-perspective: 500px;
        -webkit-perspective: 500px;
        perspective: 500px;
        text-shadow: 0px 0px 3px rgb(32, 32, 32);;
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        font-family: cursive;
        font-weight: normal;
    }
    #title{
        display: flex;
        justify-content: center;
    }

    #subtext{
        font-family: cursive;
        font-size: 20px;
        text-align: center;
    }

    #jumbotron{
        margin-bottom: 10px;

    }